.content {
    width: 60%;
    margin: 10px auto;

    padding: 5px 20px;

    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

#error {
    color: red;
}

.box {
    display: inline-block;
    padding: 10px;
    float: right;
    width: 250px;
}

#scoresBox {
    background-color: #ffecd3;
}

#chatBox {
    background-color: #48b6ff;
}

#messageArea {
    background-color: white;
    margin: 5px 0;
    height: 250px;
    overflow: auto;
}

#chatBox > input[type="text"], #chatBox > button {
    padding: 5px;
    float: right;
}

#game {
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}

#scores > li:first-child {
    font-weight: bold;
}