.content {
    width: 60%;
    margin: 10px auto;

    padding: 5px 20px;

    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

#error {
    color: red;
}

#scoresBox {
    width: 300px;
    background-color: #ffecd3;
    display: inline-block;
    padding: 10px;
    float: right;
}

#game {
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}

#scores > li:first-child {
    font-weight: bold;
}